<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ticket Project</title>
    <link rel="stylesheet" href="vendor/twbs/bootstrap/dist/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="vendor/twbs/bootstrap/dist/js/bootstrap.js"></script>
</head>

<body>

<h1 class="page-header text-primary text-center">Ticket Project</h1>
