#openedTicket table tr {
    cursor: pointer;
}

#openedTicket table {
    margin-top: 10%;
}

#noTicketError {
    margin-top: 10%;
    height: 40px;
    line-height: 40px;
    border: 1px solid red;
}