<link rel="stylesheet" href="./src/assets/css/user.css">
<div class="vertical-offset">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="user_tab" role="tablist">
        <li role="presentation" class="active"><a href="#OpenTicket" id="OpenedTicket" class="user_ticket_action" aria-controls="profile" role="tab" data-toggle="tab">Tickets ouverts</a></li>
        <li role="presentation"><a href="#ActiveTicket" aria-controls="home" id="ticketInProgress" role="tab" data-toggle="tab">Tickets en cours</a></li>
        <li role="presentation"><a href="#ClosedTicket" id="closedTicket" class="user_ticket_action" aria-controls="messages" role="tab" data-toggle="tab">Tickets Fermés</a></li>
        <li role="presentation"><a href="#newTicket" id="CreateTicket" aria-controls="newTickets" class="user_ticket_action" role="tab" data-toggle="tab">Nouveau Ticket</a></li>
        <a id="logout" href="logout" role="tab">Logout</a>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="OpenTicket"> .. </div>
        <div role="tabpanel" class="tab-pane" id="ActiveTicket"> .. </div>
        <div role="tabpanel" class="tab-pane" id="ClosedTicket"> .. </div>
        <div role="tabpanel" class="tab-pane" id="newTicket"> .. </div>
    </div>
</div>
</body>
<script src="./src/assets/js/user.js"></script>
