<link rel="stylesheet" href="src/assets/css/createTicket.css">
<div id="ticketCreation">
    <form action="ticketCreation" method="post">
        <div class="form-group">
            <label for="ticketTitle" class="text-primary">Titre</label>
            <input type="text" name="ticketTitle" class="form-control" id="ticketTitle" placeholder="Titre">
        </div>
        <div class="form-group">
            <label for="ticketMessage" class="text-primary">Message</label>
            <textarea name="ticketMessage" id="ticketMessage" placeholder="Message ..." class="form-control" cols="30" rows="10"></textarea>
        </div>
        <button type="submit" class="btn btn-primary center-block">Submit</button>
    </form>
</div>
<script src="src/assets/js/createTicket.js"></script>